ion-title {
    text-align: center
}

page-home {

.scroll-content{
    padding: 0;

    .home-page {
        margin-bottom: 4rem;
        padding: 20px;

    .container {
        margin:2rem 0;
    }
    // .row-container{
    //     display: flex;
    //     flex-direction: row;
    //     height: 50%;
    //     width: 100%;
    //     .subject-container {
    //         align-items: center;
    //         display: flex;
    //         flex-direction: column;
    //         width: 50%;
    //         height: 70%;
    //         margin-bottom: 0%;
        
    //         .icon{
    //             border-radius: 50%;
    //             width: 70%;
    //             height: 100%;
    //         }
    //     }
    // }

    .btn-Ver-mas {
        text-align: center;
    } 
    }
}
.menu-var{
    width: 100%;
    // height: 10%;
    background-color: palevioletred;

    .menu{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%; 
        width: 25%;

        .icon-menu {
          width: 50%;
        }


}
}
}
