
  .welcome-wrapper{
    margin: 5% auto;
    text-align: center;

    .styve-wrapper {
      margin-bottom: 10%;

      #welcome {
        font-size: 20px;
        font-family: cursive;
      }

      #styve-title {
        font-size: 100px;
        font-family: cursive;
        color: yellowgreen;
      }

      .styve-img {
        width: 80%;

      }
    }
  }
