.slide-wrapper {
  // background-color: rgb(241, 239, 239);
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  .styve-title {
    color:yellowgreen; 
    font-size: 40px; 
    font-family: 'Roboto', sans-serif;
  }

  .styve-img {
    width: 100%;
    margin: 3rem 0;
  }

  .login-wrapper {
    .login-btn {
      background-color: #DC4E41;
      margin-bottom: 1rem;
      text-transform: none;
      font-size: 20px;
    }

    .quiz-wrapper {
      margin: 0 auto;
      display: flex;
      flex-direction: column;

        #btn-quiz {
          width: 25%;
          background-color: yellowgreen;
          margin: 0 auto;
          text-transform: none;
          font-size: 20px;
        }
    }
  }
}

  .menuStyve {
    height: auto;
    overflow: hidden;

    .list-menu-options {
      margin: 20% auto;
    }
  }
