    <ion-slides *ngIf="user === null" class="slide-wrapper">  
        <ion-slide>
             <h1>Welcome to <strong class="styve-title">Styve</strong> </h1>
            <p>In this app you will <strong>teach</strong> and <strong>learn</strong> <br> through <strong>live videos</strong></p> <br>
            <h3>You will...</h3>
            <h6>meet other people with the same tastes as you</h6>
            <div class="styve-img">
              <img src="../assets/logo/styveLogo2.png">
            </div>
        </ion-slide>
      
          <ion-slide>
            <div class="login-wrapper">
              <div>
                <img src="../assets/logo/styveLogo.png" alt="">
              </div>
              <h3 id="welcome">Login with:</h3>
              <button class="login-btn" ion-button (click)="login()">Google</button> 
              <!-- <img src="../assets/logo/styveLogo.png" alt=""> -->
              <div class="quiz-wrapper">
                <h3>Would you like to do a small quiz? </h3>
                <button id="btn-quiz" ion-button block color="principal" (click)="doCheckbox()">Quiz</button>
              </div>
            </div>
          </ion-slide>
      </ion-slides>

  

  <!-- user !== null -->
  <ion-content *ngIf="user !== null"> 
    <ion-menu [content]="content" class="menuStyve" *ngIf="user !== null">
      <ion-content>      
        <ion-header style="background-color:yellowgreen;;">
          <ion-title>
            <h2 style="font-family: cursive; color: #ffffff; font-size: 30px;">Styve</h2>
          </ion-title>
          <!-- <button ion-button class="dismiss" (click)="closeEditDashboard()">Cancelar</button> -->
        </ion-header>
        <!-- <ion-content>   -->
          <ion-list class="list-menu-options">
            <button class="settings-btn" ion-item (click)="openSettingsPage()">
                <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
                Settings
            </button>
            <!-- prueba del popover(no es importante) -->
            <!-- <button class="boton4" ion-item (click)="presentPopover($event)">
                <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
                GG
            </button> -->
            <!-- aqui termina -->
            <button ion-item (click)="logout()">
              <ion-icon item-left ios="ios-log-out" md="md-log-out"></ion-icon>
                  Logout
            </button>
            <P>{{user| json}}</P>
            </ion-list>
          </ion-content>
      <!-- </ion-content> -->
    </ion-menu>
    <ion-nav #content [root]="rootPage"></ion-nav>
  </ion-content>
  <!-- termina aqui sdnjsdjfhidf -->

