.princ-wrapper {
  background-color: rgb(241, 239, 239);
}
  .welcome-wrapper{
    margin: 5% auto;
    text-align: center;

    .styve-wrapper {
      margin-bottom: 10%;

      #welcome {
        font-size: 30px;
        font-family: cursive;
      }

      #styve-title {
        font-size: 100px;
        font-family: cursive;
        color: yellowgreen;
      }
    }

    .login-btn {
      background-color: #DC4E41;
      margin-bottom: 1rem;
    }

    .styve-img {
      width: 100%;
      margin: 3rem 0;
    }

    .quiz-wrapper {
      margin: 0 auto;
      display: flex;
      justify-content: center;

        #btn-quiz {
          width: 25%;
          background-color: yellowgreen;
        }
    }
  }

  .menuStyve {
    height: auto;
    overflow: hidden;

    .list-menu-options {
      margin: 20% auto;
    }
  }
