ion-title {
    text-align: center
}


page-search{
    .scroll-content {
        padding: 0;

        .levels-container {
            width: 100%;
            background-color: rgb(218, 213, 213);
            display: flex;
            margin-bottom: 1rem;

            .levels-row {
                width: 33.3rem;
                display: flex;
                flex-direction: column;

                .levels {
                    font-weight: 900;
                    text-align: center;
                }
            }
        }

        .courses-container {
            height: auto;
            margin: 0 !important;

            //para curso
            .courses-box {
                height: auto;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                background-color: rgb(209, 208, 208);
                margin: 1rem;

                .profile-wrapper {
                    margin-right: 1.5rem;
                    
                    .profile {
                        text-align: center;

                        .star-level .icon.icon-md {
                            font-size: 1.1rem;
                        }

                        .person-img {
                            width: 100px;
                        }

                        .person-name {
                            margin: 0;
                            font-size: 14px;
                        }

                        .star-level {
                            width: 100%;
                            padding: 0;
                            background-color: rgba(255, 255, 255, 0);           
                        }
                    }
                }
            }

            .courses-wrapper {
                
                .courses-container {
                    width: 100%;
                    
                    margin: 2rem 0 !important;
                    display: flex;
                    flex-direction: column;

                    .course-wrapper {
                        // height: 70%;
                        margin-bottom: 1rem;

                        h6.course-title{
                            font-size: 20px !important;
                        } 

                        // .courses {
                        //     font-size: 16px;
                        //     font-weight: 900;
                        // }

                        .links-wrapper {
                            display: flex;
                            flex-direction: row;
                            text-align: left;
                            width: 100%;
        
                            .link {
                                display: flex;
                                width: 60%;
                                margin: 0;
        
                                #youtube-link {
                                  margin: auto 1rem;
                                  color: black;
                        
                                }
        
                                #youtube-icon {
                                   margin: 0;
                                }
                            }
                            .characters-course {
                                display: flex;
                                flex-direction: column;
                                width: 40%;
    
                                h6.course-date {
                                    margin: 0 !important;
                                }
                            }
                        }
                        // .question-options {
                        //     display: flex;
                        //     flex-direction: row;
                        //     width: 100%;

                        //     .options {
                        //         display: flex;
                        //         justify-content: space-around;

                        //         span.button-inner {
                        //             text-align: right;
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }
    }

    .btn-Ver-mas {
        text-align: center
    }
}