ion-title {
    text-align: center
}


page-search{
    .scroll-content {
        padding: 0;

        .levels-container {
            width: 100%;
            background-color: rgb(218, 213, 213);
            display: flex;
            margin-bottom: 1rem;

            .levels-row {
                width: 33.3rem;
                display: flex;
                flex-direction: column;

                .levels {
                    font-weight: 900;
                    text-align: center;
                }
            }
        }

        .courses-container {
            height: auto;
            margin: 0 !important;

            //para curso
            .courses-box {
                height: auto;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                background-color: rgb(209, 208, 208);
                margin: 1rem;

                .profile-wrapper {
                    margin-right: 1.5rem;
                    
                    .profile {
                        text-align: center;

                        .star-level .icon.icon-md {
                            font-size: 1.1rem;
                        }

                        .person-img {
                            width: 100px;
                        }

                        .person-name {
                            margin: 0;
                            font-size: 14px;
                        }

                        .star-level {
                            width: 100%;
                            padding: 0;
                            background-color: rgba(255, 255, 255, 0);           
                        }
                    }
                }
            }

            .courses-wrapper {
                
                .courses-container {
                    width: 100%;
                    margin: 2rem;
                    display: flex;
                    flex-direction: column;

                    .course-wrapper {
                        // height: 70%;
                        margin-bottom: 1rem;

                        h6.course-title{
                            font-size: 23px !important;
                        } 

                        .courses {
                            font-size: 16px;
                            font-weight: 900;
                        }

                        .question-options {
                            display: flex;
                            flex-direction: row;
                            width: 100%;

                            .options {
                                display: flex;
                                justify-content: space-around;

                                span.button-inner {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }

                .links-wrapper {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .link {
                        display: flex;

                        #youtube-link {
                            line-height: 16px;
                        }

                        #youtube-icon {
                            display: block;
                            line-height: 16px;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .btn-Ver-mas {
        text-align: center
    }
}