<div class="social-media-wrapper">
  <h5 class="social-media-title">Contac me</h5>
  <div class="social-media-contact-links">
    <div class="socialmedia">
        <ion-icon  class="logo-sm" ios="logo-facebook" md="logo-facebook">Facebook</ion-icon>
        <a class="link" href="#">link de facebook</a>
    </div>
    <div class="socialmedia">
        <ion-icon class="logo-sm" ios="logo-twitter" md="logo-twitter">Twitter</ion-icon>
        <a class="link" href="#">link de twitter</a>
    </div>
    <div class="socialmedia">
        <ion-icon class="logo-sm" ios="logo-youtube" md="logo-youtube">YouTube</ion-icon>
        <a class="link" href="#">link de youtube</a>
    </div>

    <div class="socialmedia">
      <ion-icon class="logo-sm" ios="logo-whatsapp" md="logo-whatsapp">WhatsApp</ion-icon>
      <p class="number">+51 898213123</p>
    </div>
  </div>
</div>
