
<div class="social-media-wrapper">
  <h5 id="social-media-title">Contac me</h5>
  <div class="social-media-contact-links">
    <div class="socialmedia">
        <ion-icon ios="logo-facebook" md="logo-facebook">Facebook</ion-icon>
        <a href="#">link de facebook</a>
    </div>
    <div class="socialmedia">
        <ion-icon ios="logo-twitter" md="logo-twitter">Twitter</ion-icon>
        <a href="#">link de twitter</a>
    </div>
    <div class="socialmedia">
        <ion-icon ios="logo-youtube" md="logo-youtube">YouTube</ion-icon>
        <a href="#">link de youtube</a>
    </div>

    <div class="socialmedia">
      <ion-icon ios="logo-whatsapp" md="logo-whatsapp">WhatsApp</ion-icon>
      <p>+51 898213123</p>
    </div>
  </div>
</div>
