page-edit-dashboard {
  #ty {
    margin-bottom: 2rem;
    font-size: 15px;
  }

  .outer-content {
    margin: 1rem auto;
  }

  #dash-btn {
    display: flex;
    justify-content: space-around;

    .agree {
      background-color: #9ACD32!important;
    }
  
    .delete {
      background-color: rgb(102, 93, 187)!important;
    }

    .dismiss {
      background-color: #fd3c3c!important;
    }
  }
}
